body{
    background-color: rgb(203, 252, 245);
    color: rgb(158, 20, 192);
    overflow: hidden;
}
h1{
    text-align: center;
}

.todo-wrapper{
    background: rgb(240, 139, 240);
    padding: 2%;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    max-height: 80vh;
    overflow-y: auto;
    box-shadow: 0px 5px 7px rgb(27, 27, 27);
}
.todo-input{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(78, 78, 78);
    padding-bottom: 25px;
    margin-bottom: 25px;
}
.todo-input-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 25px;
}

.todo-input-item label{
    font-weight: bold;
    margin-bottom: 10px;
}

.todo-input-item input{
    padding: 8px;
    border: none;
    width: 250px;
}

.todo-input-item input:focus{
    outline: 2px solid rgb(0, 230, 122);
}

.primaryBtn{
    background-color: rgb(0,230,122);
    color: white;
    border: none;
    border-radius: 0px;
    margin-top: 25px;
    padding: 10px;
    width: 60px;
    cursor: pointer;
}

.primaryBtn:hover{
    background-color: rbg(4,196,106);
}

.secondaryBtn{
    background-color: rgb(71,71,71);
    color: white;
    border: none;
    border-radius: 0px;
    margin-top: 25px;
    padding: 10px;
    width: fit-content;
    cursor: pointer;
}

.active{
    background-color: rgb(0,230,122);
}

.todo-list{
    display: flex;
    flex-direction: column;
}

.btn-area{
    margin-bottom: 15px;
}

.todo-list-item{
    background-color: rgb(210, 230, 121);
    display: flex;
    justify-content: space-between;
    padding: 25px;
    padding-bottom: 1px;
    padding-top: 1px;
    margin-bottom: 10px;
}
.todo-list-item-action{
    padding-top: 20px;
}
.todo-list-item-action button{
    background-color: rgb(2, 133, 2);
    color: white;
}